       <!--Site Footer One Start-->
        <footer class="site_footer" >
            <div class="container">
                <div class="site_footer_one_top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6" data-wow-delay="00ms">
                            <div class="footer-widget__column footer_widget__about">
                                <div class="footer_logo">
                                    <a href="index.html"><img src="assets/images/resources/footer_logo.png" alt=""></a>
                                </div>
                                <div class="footer_widget_about_text">
                                    <p>Lorem ipsum dolor sit ame consect etur pisicing elit sed do eiusmod tempor
                                        incididunt ut labore.</p>
                                </div>
                                <div class="footer_call_agent_box">
                                    <div class="icon">
                                        <span class="icon-phone-call"></span>
                                    </div>
                                    <div class="text">
                                        <p>Call Agent</p>
                                        <a href="tel:8888888888">888-888-8888</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6" data-wow-delay="200ms">
                            <div class="footer-widget__column footer_widget__explore clearfix">
                                <div class="footer-widget__title">
                                    <h3>Explore</h3>
                                </div>
                                <ul class="footer_widget__explore_list list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Add Properties</a></li>
                                    <li><a href="#">Pricing Packages</a></li>
                                    <li><a href="#">Bookmarks</a></li>
                                </ul>
                                <ul class="footer_widget__explore_list two list-unstyled">
                                    <li><a href="#">Our Agents</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-8" data-wow-delay="300ms">
                            <div class="footer-widget__column footer_widget__newsletter">
                                <div class="footer-widget__title">
                                    <h3>Newsletter</h3>
                                </div>
                                <form action="#" class="footer_form">
                                    <div class="footer_input_box">
                                        <input type="email" name="email" placeholder="Email Address">
                                        <button type="submit" class="button">Subscribe</button>
                                    </div>
                                </form>
                                <div class="footer_widget__newsletter_bottom">
                                    <p>1234 Main Street, Boston. USA</p>
                                    <a href="mailto:info@findhome.com">info@findhome.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        
        <!--Site Footer Bottom Start-->
        <div class="site_footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site_footer_inner">
                            <div class="site_footer_left">
                                <p>© Copyright {% now "Y" %} by <a href="#">FindHome.com</a></p>
                            </div>
                            <div class="site_footer__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Site Footer Bottom End-->
