
{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block title %} | Welcome{% endblock %}

{% block content %} 

  <!-- Showcase -->
 
       <!-- Banner Section One Start -->
        <section class="banner-one"  style="padding-top: 77px;">
            <div class="banner-bg-slide" 
            style="background-image: url({% static 'img/showcase.jpg' %}); 
            background-size: cover; background-repeat: no-repeat; opacity: 0.5;">
            </div><!-- /.banner-bg-slide -->
            <div class="container">
                <div class="content-box">
                    <div class="top-title">
                        <h2>Find Your Future <br> Dream Home</h2>
                    </div>
          <div class="row">
          <div class="col-md-8 col-sm-8 col-12">
           <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
                    {% for key,value in state_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Bedrooms</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                    {% for key,value in bedroom_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="thm-btn banner_one_search_btn" type="submit" style="width: 300px; font-size: 25px;">Search 
              <span class="icon-magnifying-glass" style="font-weight: bold; margin-left: 20px; font-size: 20px;"></span></button>
            </form>
            </div>
            </div>

                    <div class="banner_one_bottom_icon_text">
                        <div class="banner_one_bottom_icon">
                            <span class="icon-building"></span>
                        </div>
                        <div class="banner_one_bottom_text">
                            <p>Smart Real Estate Services All our the World</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



  <!--Latest Properties Start-->
        <section class="latest_properties bg-light">
            <div class="container">
                <div class="block-title text-center">
                    <h4>Browse Hot Offers</h4>
                    <h2>Latest Properties</h2>
                </div>
                <div class="row">

   {% if listings %}
          {% for listing in listings %}


          <div class="col-md-6 col-lg-4 col-12 mb-4" style="padding: 0px;">
              <a href="{% url 'listing' listing.id %}">
              <div class="card listing-preview latest_properties_content" style="padding: 12px;">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{listing.price | intcomma}}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary"><strong>{{ listing.title }}</strong></h4><br>
                    <p><i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} 
                      {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <span class="icon-square-measument"
                      style="margin-right: 10px;"></span> Sqft: {{ listing.sqft }}</div>
                    <div class="col-6">
                      <i class="fas fa-car"
                      style="margin-right: 10px;"></i> Garage: {{ listing.garage }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <span class="icon-bed"
                      style="margin-right: 10px;"></span> Bedrooms: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <span class="icon-shower"
                      style="margin-right: 10px;"></span> Bathrooms: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      Reaeltor: {{ listing.realtor }}</div>
                    <div class="col-6">
                      List date: {{ listing.list_date | timesince}}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" 
                  class="btn btn-primary btn-block" style="cursor: pointer;">More Info</a>
                </div>
              </div>
              </a>
            </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}




                 
                              
                    

                        
                </div>
               
            </div>
        </section>
        <!--Latest Properties End-->

  
        <!--Why Choose One Start-->
        <section class="why_choose_one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url(assets/images/backgrounds/why_choose_one_bg.jpg)">
            <div class="container">
                <div class="why_choose_one_title">
                <br>
                <br>
                    <h2>Why Choose Us</h2>
                </div>
                <div class="why_choose_one_shape_one"
                    style="background-image: url(assets/images/shapes/why_choose_one_shape_1.png)"></div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Why Choose One Single-->
                        <div class="why_choose_one_single wow fadeInUp">
                            <div class="why_choose_one_icon">
                                <span class="icon-town"></span>
                            </div>
                            <h3>Find Your <br> Dream Home</h3>
                            <p>There many variation of <br> pasages of lorem sum<br> available.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Why Choose One Single-->
                        <div class="why_choose_one_single wow fadeInUp" data-wow-delay="100ms">
                            <div class="why_choose_one_icon">
                                <span class="icon-agent"></span>
                            </div>
                            <h3>Experienced <br> Agents</h3>
                            <p>There many variation of <br> pasages of lorem sum<br> available.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Why Choose One Single-->
                        <div class="why_choose_one_single wow fadeInUp" data-wow-delay="200ms">
                            <div class="why_choose_one_icon">
                                <span class="icon-assets"></span>
                            </div>
                            <h3>Buy or Rent <br> Homes</h3>
                            <p>There many variation of <br> pasages of lorem sum<br> available.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Why Choose One Single-->
                        <div class="why_choose_one_single wow fadeInUp" data-wow-delay="300ms">
                            <div class="why_choose_one_icon">
                                <span class="icon-rent"></span>
                            </div>
                            <h3>List Your <br> Own Property</h3>
                            <p>There many variation of <br> pasages of lorem sum<br> available.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



         <!--How It Works Start-->
        <section class="how_it_works">
            <div class="how_it_works_shape_1">
                <img src="{% static 'images/shapes/how_it_works_shape_1.png' %}" alt="">
            </div>
            <div class="container">
                <div class="block-title text-center">
                <br><br>
                    <h4>How It Works</h4>
                    <h2>Follow Easy Steps</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="how_it_works_single list-unstyled">
                            <li>
                                <div class="how_it_works_img">
                                    <img src="{% static 'img/house3.jpeg' %}" alt=""
                                    style="width: 182px; height: 182px;">
                                    <div class="how_it_works_circle">
                                        <p>01</p>
                                    </div>
                                </div>
                                <div class="how_it_works_content">
                                    <h3>Find Real Estate</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </li>
                            <li class="item-2">
                                <div class="how_it_works_img">
                                    <img src="{% static 'img/house4.jpeg' %}" alt=""
                                    style="width: 162px; height: 162px;">
                                    <div class="how_it_works_circle">
                                        <p>02</p>
                                    </div>
                                </div>
                                <div class="how_it_works_content">
                                    <h3>Find Real Estate</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </li>
                            <li>
                                <div class="how_it_works_img">
                                    <img src="{% static 'img/keys.jpg' %}" alt=""
                                    style="width: 182px; height: 182px;">
                                    <div class="how_it_works_circle">
                                        <p>03</p>
                                    </div>
                                </div>
                                <div class="how_it_works_content">
                                    <h3>Take Your Keys</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </li>
                            <li class="item-4">
                                <div class="how_it_works_img">
                                    <img src="{% static 'img/happy.jpg' %}" alt=""
                                    style="width: 162px; height: 162px;">
                                    <div class="how_it_works_circle">
                                        <p>04</p>
                                    </div>
                                </div>
                                <div class="how_it_works_content">
                                    <h3>Live Happily</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}